<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='signIn.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/path-of-exile-logo.png') }}" type="image/icon">
    <title>Path of Exile - Sign In</title>
</head>
<body>
    {% include 'navbar.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="registration">
        <h1>Registration Page</h1>
        <p>Please fill in this form to create an account.</p>

        
        <form method="POST" action="/signIn">
            <div class="first-name-container">
                <p>First Name:</p>
                <input class="first-name-input" id="first-name" name="first-name" type="text" placeholder="Enter your first name" required>
            </div>

            <div class="last-name-container">
                <p>Last Name:</p>
                <input class="last-name-input" id="last-name" name="last-name" type="text" placeholder="Enter your last name" required>
            </div>

            <div class="email-container">
                <p>Email:</p>
                <input class="email-input" id="email" name="email" type="text" placeholder="Enter your email" required>
            </div>

            <div class="password-container">
                <p>Password:</p>
                <input class="password-input" id="password" name="password" type="password" placeholder="Enter your password" required>
            </div>

            <hr>

            <button class="register-button" type="submit">Register</button>
        </form>
    </div>
</body>
</html>
